/* Screen Options Settings */
/* BLUE */

#screen-options-link-wrap,
#screen-options-wrap {
	border-bottom: 1px solid #c58748;
	border-left: 1px solid #c58748;
	border-right: 1px solid #c58748;
	background: #f0d5b9;
}

#screen-options-link-wrap { /* Fixes bottom border issue on #screen-options-wrap */
	border-top: none;
	margin-top: -1px;
	}

a#show-settings-link {
	color: #c58748;
	font-weight: bold;
	}
a#show-settings-link:hover {
	color: #00138B;
	}

/* WP 4.4 fix */
button#contextual-help-link,
button#show-settings-link {
    box-shadow: none;
}
